<head>
	<link rel="stylesheet" href="app.css" type="text/css" />

  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

	
</head>

<body>
	<header>
    	<h1>todo<span>list</span></h1>
    	<h2>A simple todo list app built with node</h2>
  	</header>
  
  	<section class="form">
    	<input type="text" id="todoInput" placeholder="Enter a todo...">
  	</section>

  	<ul class="list">
  	</ul>


	<script type="text/javascript" src="app.js"></script>


</body>



